<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.jmixmultiselect/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.jmixmultiselect.view.user/UserListView.title"/>
        <item view="bgxlsx_Order.list"
              description="msg://com.company.jmixmultiselect/menu_config.bgxlsx_Order.list.description"
              title="msg://com.company.jmixmultiselect/menu_config.bgxlsx_Order.list.title"/>
    </menu>

</menu-config>